{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea().crud.currentAction == 'detail' %}
    <kbd class="w-100">{{ field.formattedValue|escape|raw|nl2br }}</kbd>
{% else %}
    {% set html_id = 'ea-code-editor-' ~ field.uniqueId %}
    <twig:ea:Button type="button" variant="primary" size="sm" isInvisible="true" data-bs-toggle="modal" data-bs-target="#{{ html_id }}">
        <twig:ea:Icon name="eye" class="me-0" />
    </twig:ea:Button>

    <div class="modal modal-xl modal-blur fade" id="{{ html_id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-status bg-primary"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans({}, 'EasyAdminBundle') }}"></button>
                <div class="modal-body">
                    <kbd class="w-100">{{ field.formattedValue|escape|raw|nl2br }}</kbd>
                </div>
            </div>
        </div>
    </div>
{% endif %}
