{% if ea.crud.currentAction == 'detail' %}
    <kbd class="w-100">{{ field.formattedValue|escape|raw|nl2br }}</kbd>
{% else %}
	<a data-bs-toggle="modal" data-bs-target="#info-{{ field.uniqueId }}" role="button">
		<twig:ux:icon class="icon" name="tabler:eye"/>
	</a>
	<div class="modal modal-xl modal-blur fade" id="info-{{ field.uniqueId }}" tabindex="-1" aria-labelledby="info-{{ field.uniqueId }}Label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<kbd class="w-100">{{ field.formattedValue|escape|raw|nl2br }}</kbd>
				</div>
			</div>
		</div>
	</div>
{% endif %}
