{% if ea.crud.currentAction == 'detail' %}
	{{ field.formattedValue|raw|nl2br }}
{% else %}
	<a data-bs-toggle="modal" data-bs-target="#info-{{ field.uniqueId }}" role="button" class="btn btn-sm btn-ghost btn-primary" title="{{ 'field.text_editor.view_content'|trans([], domain = 'EasyAdminBundle') }}">
		<twig:ux:icon class="icon me-0" name="tabler:eye"/>
	</a>
	<div class="modal modal-xl modal-blur fade" id="info-{{ field.uniqueId }}" tabindex="-1" aria-labelledby="info-{{ field.uniqueId }}Label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					{{ field.formattedValue|raw|nl2br }}
				</div>
			</div>
		</div>
	</div>
{% endif %}
