{% extends '@!EasyAdmin/crud/form_theme.html.twig' %}

{% block form_start %}
    {% if form.vars.errors|length > 0 and 'ea_crud' in form.vars.block_prefixes|default([]) %}
        {{ form_errors(form, {attr: { errorClass: 'alert alert-danger' }}) }}
    {% endif %}

    {{ parent() }}
    {% if ea.request.query.get('referrer')  %}
        <input type="hidden" name="referrer" value="{{ ea.request.query.get('referrer') }}">
    {% endif %}
{% endblock form_start %}

{% block ea_form_fieldset_open_label %}
    <div class="card-header {{ ea_is_collapsible ? 'collapsible' }}">
        <div class="card-title">
            {% if ea_is_collapsible %}
                <a href="#content-{{ form.vars.name }}" data-bs-toggle="collapse"
                   class="link-dark text-decoration-none {{ ea_is_collapsed ? 'collapsed' }}"
                   aria-expanded="{{ ea_is_collapsed ? 'false' : 'true' }}" aria-controls="content-{{ form.vars.name }}">
                    {{ ea_form_ealabel(form) }}
                </a>
            {% else %}
                <span class="not-collapsible">
                    {{ ea_form_ealabel(form) }}
                </span>
            {% endif %}

            {% if ea_help %}
                <div class="page-subtitle">{{ ea_help|trans|raw }}</div>
            {% endif %}
        </div>
    </div>
{% endblock ea_form_fieldset_open_label %}

{% block ea_form_fieldset_open_row %}
    {% set fieldset_has_header = form.vars.label or ea_icon or ea_help %}

    <div class="card mb-3 {{ ea_css_class }}">
        <div class="card-status-top bg-primary"></div>
        <fieldset>
            {% if fieldset_has_header %}
                {{ form_label(form) }}
            {% endif %}

            <div id="content-{{ form.vars.name }}" class="card-body {{ ea_is_collapsible ? 'collapse' }} {{ not ea_is_collapsed ? 'show'}}">
                <div class="row">
{% endblock ea_form_fieldset_open_row %}

{% block form_label -%}
    {% if label is same as(false) -%}
        {# don't display anything, not even an empty <label> element; if you want to not display
           any label contents but keep the form layout, use an empty string as the field label #}
    {%- else -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id, class: (label_attr.class|default('') ~ ' form-label')|trim}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is same as('') -%}
            {# don't process the label; this is used to not display any label content
               but render an empty <label> element keep the form layout #}
        {%- elseif label is null -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html|default(false) is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html|default(false) is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label %}

{% block form_row %}
    {% set row_attr = row_attr|merge({
        class: row_attr.class|default('') ~ ' form-group'
    }) %}
    {%  set field = form.vars.ea_vars.field %}

    <div class="{{ field.columns ?? field.defaultColumns ?? '' }}">
        {%- set row_class = row_class|default(row_attr.class) -%}
        <div {% with {attr: row_attr|merge({class: (row_class ~ ((not compound or force_error|default(false)) and not valid ? ' has-error'))|trim})} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            <div class="form-widget mb-3">
                {% set has_prepend_html = field.prepend_html|default(null) is not null %}
                {% set has_append_html = field.append_html|default(null) is not null %}
                {% set has_input_groups = has_prepend_html or has_append_html %}

                {% if has_input_groups %}<div class="input-group">{% endif %}
                    {% if has_prepend_html %}
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ field.prepend_html|raw }}</span>
                        </div>
                    {% endif %}

                    {{ form_widget(form) }}

                    {% if has_append_html %}
                        <span class="input-group-text">{{ field.append_html|raw }}</span>
                    {% endif %}
                {% if has_input_groups %}</div>{% endif %}

                {% if field.help ?? false %}
                    <small class="form-text form-help">{{ field.help|trans(label_translation_parameters, translation_domain)|raw }}</small>
                {% elseif form.vars.help ?? false %}
                    <small class="form-text form-help">{{ form.vars.help|trans(form.vars.help_translation_parameters, form.vars.translation_domain)|raw }}</small>
                {% endif %}

                {{- form_errors(form) -}}
            </div>
        </div>
    </div>

    {# if a field doesn't define its columns explicitly, insert a fill element to make the field take the entire row space #}
    {% if field.columns|default(null) is null %}
        <div class="flex-fill"></div>
    {% endif %}
{% endblock form_row %}

{% block ea_filters_widget %}
	{% set hidden_filters = app.request.query.all()['filters']|default([])['hidden_filters']|default([])|filter(filter => filter)|keys %}
    {% set applied_filters = ea.request.query.all()['filters']|default([])|keys %}

    {% for field in form %}
        <div class="col-12">
            <div class="form-check filter-field px-3 {% if field.vars.name in hidden_filters %}d-none{% endif %}" data-filter-property="{{ field.vars.name }}">
                <div class="filter-heading" id="filter-heading-{{ loop.index }}">
                    <div class="form-switch">
                        <input id="filter-checkbox-{{ loop.index }}" type="checkbox" class="form-check-input filter-checkbox" {% if field.vars.name in applied_filters %}checked{% endif %}>
                        <button type="button" class="d-none" data-bs-toggle="collapse" href="#filter-content-{{ loop.index }}" aria-expanded="{{ field.vars.name in applied_filters ? 'true' : 'false' }}" aria-controls="filter-content-{{ loop.index }}"></button>
                        <label class="checkbox-switch form-check-label" for="filter-checkbox-{{ loop.index }}"
                            {% for name, value in field.vars.label_attr|default([]) %}{{ name }}="{{ value|e('html') }}" {% endfor %}>
                            {{ field.vars.label|default(field.vars.name|humanize)|trans(domain = ea.i18n.translationDomain) }}
                        </label>
                    </div>
                </div>
                <div id="filter-content-{{ loop.index }}" class="filter-content collapse {% if field.vars.name in applied_filters %}show{% endif %}" aria-labelledby="filter-heading-{{ loop.index }}">
                    <div class="form-widget my-3 ms-3">
                        {{ form_widget(field) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock ea_filters_widget %}

{% block ea_form_tablist_row %}
    {% set tab_id_option_name = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Field\\FormField::OPTION_TAB_ID') %}
    {% set tab_is_active_option_name = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Field\\FormField::OPTION_TAB_IS_ACTIVE') %}
    {% set tab_error_count_option_name = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Field\\FormField::OPTION_TAB_ERROR_COUNT') %}
    {% set field = form.vars.ea_vars.field %}

	<div class="card">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
                {% for tab in field.getCustomOption('tabs') %}
                    <li class="nav-item">
                        <a class="nav-link {% if tab.getCustomOption(tab_is_active_option_name) %}active{% endif %}" href="#{{ tab.getCustomOption(tab_id_option_name) }}" id="tablist-{{ tab.getCustomOption(tab_id_option_name) }}" data-bs-toggle="tab">
                            {%- if tab.getCustomOption('icon')|default(false) -%}
                                <twig:ea:Icon name="{{ tab.getCustomOption('icon') }}" />
                            {%- endif -%}
                            {{ tab.label|trans(domain = ea.i18n.translationDomain)|raw }}

                            {% set tab_error_count = tab.getCustomOption(tab_error_count_option_name)  %}
                            {%- if tab_error_count > 0 -%}
                                <span class="badge bg-danger text-white ms-1" title="{{ 'form.tab.error_badge_title'|trans({'%count%': tab_error_count}, 'EasyAdminBundle') }}">
                                    {{- tab_error_count -}}
                                </span>
                            {%- endif -%}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
{% endblock ea_form_tablist_row %}

{% block ea_form_tabpane_group_open_row %}
	<div class="card-body">
		<div class="tab-content">
{% endblock ea_form_tabpane_group_open_row %}

{% block ea_form_tabpane_group_close_row %}
			</div>
		</div>
	</div>
{% endblock ea_form_tabpane_group_close_row %}

{% block ea_slug_widget %}
    {% set attr = attr|merge({
        'data-target': target|split('|')|map(name => form.parent.children[name].vars.id)|json_encode
    }) %}
    {% if attr['data-confirm-text'] is defined %}
        {% set attr = attr|merge({
            'data-confirm-text': attr['data-confirm-text']|trans
        }) %}
    {% endif %}

    <div class="input-group">
        {{ block('form_widget') }}
        <button type="button" class="btn btn-icon"
                data-icon-locked="{{ component('ux:icon', {name: 'tabler:lock', class: 'icon'})|e('html') }}"
                data-icon-unlocked="{{ component('ux:icon', {name: 'tabler:lock-open', class: 'icon'})|e('html') }}">
            <twig:ux:icon class="icon" name="tabler:lock" />
        </button>
    </div>
{% endblock %}

{% block empty_collection %}
    <div class="collection-empty mb-3"></div>
{% endblock empty_collection %}

{% block collection_widget %}
    {# the "is iterable" check is needed because if an object implements __toString() and
               returns an empty string, "is empty" returns true even if it's not a collection #}
    {% set isEmptyCollection = value is null or (value is iterable and value is empty) %}
    {% set is_array_field = 'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\ArrayField' == form.vars.ea_vars.field.fieldFqcn|default(false) %}

    <div class="ea-form-collection-items">
        {% if isEmptyCollection %}
            {{ block('empty_collection') }}
        {% elseif is_array_field %}
            {{ block('form_widget') }}
        {% else %}
            <div class="accordion">
                {{ block('form_widget') }}
            </div>
        {% endif %}
    </div>

    {% if isEmptyCollection or form.vars.prototype is defined %}
        {% set attr = attr|merge({'data-empty-collection': block('empty_collection') }) %}
    {% endif %}

    {% if allow_add|default(false) %}
        <button type="button" class="btn btn-secondary field-collection-add-button">
            <twig:ux:icon class="icon" name="tabler:plus" /> {{ 'action.add_new_item'|trans({}, 'EasyAdminBundle') }}
        </button>
    {% endif %}
{% endblock collection_widget %}

{% block collection_entry_row %}
    {% set is_array_field = 'EasyCorp\\Bundle\\EasyAdminBundle\\Field\\ArrayField' == form_parent(form).vars.ea_vars.field.fieldFqcn|default(false) %}
    {% set is_complex = form_parent(form).vars.ea_vars.field.customOptions.get('entryIsComplex') ?? false %}
    {% set to_string_method = form_parent(form).vars.ea_vars.field.customOptions.get('entryToStringMethod') ?? null %}
    {% set allows_deleting_items = form_parent(form).vars.allow_delete|default(false) %}
    {% set render_expanded = not form.vars.valid or form_parent(form).vars.ea_vars.field.customOptions.get('renderExpanded')|default(false) %}

    <div class="field-collection-item mb-3 {{ is_complex ? 'field-collection-item-complex' }} {{ not form.vars.valid ? 'is-invalid' }}">
        {% if is_array_field|default(false) %}
            {{ form_label(form) }}
			{% if allows_deleting_items and not disabled %}
				<div class="input-group">
			{% endif %}
                {{ form_widget(form) }}
                {% if allows_deleting_items and not disabled %}
                    <button type="button" class="btn btn-icon field-collection-delete-button" title="{{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}">
                        <twig:ux:icon class="icon" name="tabler:trash" />
                    </button>
                {% endif %}
			{% if allows_deleting_items and not disabled %}
				</div>
			{% endif %}
        {% else %}
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button {{ render_expanded ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-contents">
                        <twig:ux:icon class="icon form-collection-item-collapse-marker" name="tabler:chevron-right" />
                        {{ value|ea_as_string(to_string_method)|default('#' ~ form.vars.name) }}
                    </button>
                </div>
                <div id="{{ id }}-contents" class="accordion-collapse collapse {{ render_expanded ? 'show' }}">
                    <div class="accordion-body">
                        <div class="row">
                            {{ form_widget(form) }}
                        </div>
                    </div>
                    {% if allows_deleting_items and not disabled %}
                        <div class="text-center p-2">
							<button type="button" class="btn field-collection-delete-button">
								<twig:ux:icon class="icon" name="tabler:trash" /> {{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}
							</button>
						</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock collection_entry_row %}

{% block password_widget %}
    {% set field = form.vars.ea_vars.field ?? form_parent(form).vars.ea_vars.field %}

    {% set render_switch = field ? field.customOptions.get('renderSwitch') ?? true : true %}
    {% set render_generator = field ? field.customOptions.get('renderGenerator') ?? true : true %}

	{% if form.vars.name == 'second' or (not render_switch and not render_generator) %}
		{{ parent() }}
    {% else %}
		<div class="row g-2">
			<div class="col">
				<div class="input-group">
					{{ parent() }}
                    {% if render_switch %}
                        <button type="button" class="btn btn-icon btn-pass"
                            data-input="{{ id }}" {% if form.vars.name == 'first' %}data-input2="{{ id|replace({'first': 'second'}) }}"{% endif %}
                            tabindex="-1">
                            <twig:ux:icon class="icon btn-pass-show" name="tabler:eye" />
                            <twig:ux:icon class="icon btn-pass-hide d-none" name="tabler:eye-off" />
                        </button>
                    {% endif %}
				</div>
			</div>
            {% if form.vars.name == 'first' and render_generator %}
                <div class="col-auto">
                    <button type="button" class="btn btn-icon btn-pass-generator"
                        data-input="{{ id }}" {% if form.vars.name == 'first' %}data-input2="{{ id|replace({'first': 'second'}) }}"{% endif %}
                        tabindex="-1">
                        <twig:ux:icon class="icon" name="tabler:key" />
                    </button>
                </div>
            {% endif %}
		</div>
	{% endif %}
{% endblock password_widget %}

{% block textarea_widget %}
    {% set field = form.vars.ea_vars.field ?? form_parent(form).vars.ea_vars.field %}

    {% set resizeable = field ? field.customOptions.get('resizeable') ?? true : true %}

    {% if not resizeable %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' no-resize')|trim}) %}
    {% endif %}

	{{ parent() }}
{% endblock textarea_widget %}

{% block color_widget %}
	{{ block('form_widget_simple') }}
{% endblock color_widget %}