{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% set has_batch_actions = batch_actions|length > 0 %}
{% block page_actions %}
    {% if filters|length > 0 %}
        <div class="datagrid-filters">
            {% block filters %}
                {% set applied_filters = ea.request.query.all['filters']|default([])|keys %}
                <div class="btn-group action-filters">
                    <a role="button" data-href="{{ ea_url().setAction('renderFilters') }}" class="btn btn-secondary btn-labeled btn-labeled-right action-filters-button disabled {{ applied_filters ? 'action-filters-applied' }}" data-bs-toggle="modal" data-bs-target="#modal-filters">
                        <twig:ux:icon class="icon" name="tabler:filter" /> {{ t('filter.title', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}{% if applied_filters %} <span class="action-filters-button-count">({{ applied_filters|length }})</span>{% endif %}
                    </a>
                    {% if applied_filters %}
                        <a href="{{ ea_url().unset('filters').setAction('index') }}" class="btn btn-secondary action-filters-reset">
                            <twig:ux:icon class="icon" name="tabler:x" />
                        </a>
                    {% endif %}
                </div>
            {% endblock filters %}
        </div>
    {% endif %}

    {% block global_actions %}
        <div class="global-actions btn-list">
            {% for action in global_actions %}
                {{ include(action.templatePath, { action: action }, with_context = false) }}
            {% endfor %}
        </div>
    {% endblock global_actions %}
    {% block batch_actions %}
        {% if has_batch_actions %}
            <div class="batch-actions d-none">
                {% for action in batch_actions %}
                    {{ include(action.templatePath, { action: action }, with_context = false) }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock page_actions %}

{% block main %}
    {# sort can be multiple; let's consider the sorting field the first one #}
    {% set sort_field_name = app.request.get('sort')|keys|first %}
    {% set sort_order = app.request.get('sort')|first %}
    {% set some_results_are_hidden = entities|reduce((some_results_are_hidden, entity) => some_results_are_hidden or not entity.isAccessible, false) %}
    {% set has_footer = entities|length != 0 %}
    {% set has_search = ea.crud.isSearchEnabled %}
    {% set has_filters = filters|length > 0 %}
    {% set num_results = entities|length %}

    {% if num_results > 0 %}
        <div class="card">
            <div class="card-status-top bg-primary"></div>
            <div class="d-flex flex-row flex-nowrap overflow-auto">
                    <table class="table table-vcenter table-mobile-md card-table">
                    <thead>
                        {% block table_head %}
                            <tr>
                                {% if has_batch_actions %}
                                    <th class="w-1">
                                        <input type="checkbox" class="form-check-input form-batch-checkbox-all" id="form-batch-checkbox-all">
                                    </th>
                                {% endif %}

                                {% set ea_sort_asc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::ASC') %}
                                {% set ea_sort_desc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::DESC') %}
                                {% for field in entities|filter(e => e.isAccessible)|first.fields ?? [] %}
                                    {% set is_searchable = null == ea.crud.searchFields or field.property in ea.crud.searchFields %}
                                    {% set is_sorting_field = ea.search.isSortingField(field.property) %}
                                    {% set next_sort_direction = is_sorting_field ? (ea.search.sortDirection(field.property) == ea_sort_desc ? ea_sort_asc : ea_sort_desc) : ea_sort_desc %}
                                    {% set column_icon = is_sorting_field ? (next_sort_direction == ea_sort_desc ? 'arrow-narrow-up' : 'arrow-narrow-down') : 'arrows-sort' %}

                                    <th data-column="{{ field.property }}" class="{{ is_searchable ? 'searchable' }} {{ is_sorting_field ? 'sorted' }} {{ field.isVirtual ? 'field-virtual' }} header-for-{{ field.cssClass|split(' ')|filter(class => class starts with 'field-')|join('') }} text-{{ field.textAlign }}" dir="{{ ea.i18n.textDirection }}">
                                        {% if field.isSortable %}
                                            {% set sortable_url = ea_url().set('page', 1).set('sort', { (field.property): next_sort_direction }) %}
                                            {% if ea.usePrettyUrls %}
                                                {% set sortable_url = sortable_url.setController(ea.request.attributes.get('crudControllerFqcn')).setAction('index') %}
                                            {% endif %}

                                            <a href="{{ sortable_url }}">
                                                {{ field.label|trans|raw }} <twig:ux:icon name="tabler:{{ column_icon }}" height="15" width="15" />
                                            </a>
                                        {% else %}
                                            <span>{{ field.label|trans|raw }}</span>
                                        {% endif %}
                                    </th>
                                {% endfor %}

                                <th class="{{ ea.crud.showEntityActionsAsDropdown ? 'w-1' }}" dir="{{ ea.i18n.textDirection }}">
                                    <span class="visually-hidden">{{ t('action.entity_actions', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}</span>
                                </th>
                            </tr>
                        {% endblock table_head %}
                    </thead>
                    <tbody>
                        {% block table_body %}
                            {% for entity in entities %}
                                {% if entity.isAccessible %}
                                    <tr data-id="{{ entity.primaryKeyValueAsString }}" {% block entity_row_attributes %}{% endblock %}>
                                        {% if has_batch_actions %}
                                            <td class="batch-actions-selector">
                                                <input type="checkbox" class="form-check-input form-batch-checkbox" id="form-batch-checkbox-{{ loop.index0 }}" value="{{ entity.primaryKeyValue }}">
                                            </td>
                                        {% endif %}

                                        {% for field in entity.fields %}
                                            {% set is_searchable = null == ea.crud.searchFields or field.property in ea.crud.searchFields %}

                                            <td data-column="{{ field.property }}" data-label="{{ field.label|trans|e('html') }}" class="{{ is_searchable ? 'searchable' }} {{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}" {% for name, value in field.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                                            </td>
                                        {% endfor %}

                                        {% block entity_actions %}
                                            <td class="actions {{ ea.crud.showEntityActionsAsDropdown ? 'w-1' }}">
                                                {% if entity.actions.count > 0 %}
                                                    {% if ea.crud.showEntityActionsAsDropdown %}
                                                        <div class="dropdown dropdown-actions position-static">
                                                            <a class="link-secondary text-decoration-none" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <twig:ux:icon class="icon" name="tabler:dots" />
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                                {% for action in entity.actions %}
                                                                    {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        {% for action in entity.actions %}
                                                            {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endblock entity_actions %}
                                    </tr>

                                {% endif %}
                            {% else %}
                            {% endfor %}

                            {% if some_results_are_hidden %}
                                <tr>
                                    <td class="text-center" colspan="100">
                                        <twig:ux:icon class="icon mr-1" name="tabler:lock" /> {{ 'datagrid.hidden_results'|trans({}, 'EasyAdminBundle') }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endblock table_body %}
                    </tbody>
                    <tfoot>
                        {% block table_footer %}
                        {% endblock table_footer %}
                    </tfoot>
                </table>
            </div>
            {% if entities|length > 0 %}
                <div class="card-footer d-flex align-items-center">
                    {% block paginator %}
                        {{ parent() }}
                    {% endblock paginator %}
                </div>
            {% endif %}
        </div>

        {% block delete_form %}
            {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', with_context = false) }}
        {% endblock delete_form %}

        {% if has_batch_actions %}
            {{ include('@EasyAdmin/crud/includes/_batch_action_modal.html.twig', {}, with_context = false) }}
        {% endif %}
    {% else %}
        {% block table_body_empty %}
            <div class="empty">
                <p class="empty-subtitle text-muted">
                    {{ t('datagrid.no_results', {}, 'EasyAdminBundle')|trans }}
                </p>
            </div>
        {% endblock table_body_empty %}
    {% endif %}

    {% if has_filters %}
        {{ include('@EasyAdmin/crud/includes/_filters_modal.html.twig') }}
    {% endif %}
{% endblock main %}
