{% extends "public/layout/base.html.twig" %}

{% block page_title %}
    {{ 'public.reset.title'|trans }}
{% endblock %}

{% block page_class %}page-center{% endblock %}

{% block header %}{% endblock %}

{% block page_body %}
    <main class="container container-tight py-4">
        {% block main %}
            {{ form_start(form, { 'attr': { 'class': 'card card-md' } }) }}
                <div class="card-status-top bg-primary"></div>
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">
                        <a href="{{ path('home') }}" class="navbar-brand navbar-brand-autodark">
                            <img src="{{ appConfig.appLogo }}" alt="{{ appConfig.appName }}" style="max-height: 30px;">
                        </a>
                    </h2>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-muted mb-4">{{ 'public.reset.resetText'|trans }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                    <div class="form-footer">
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary w-100">
                                    <twig:ux:icon class="icon" name="tabler:mail" /> {{ 'public.reset.resetBtn'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        {% endblock %}
    </main>
{% endblock %}

{% block footer %}{% endblock %}
