{% set isModal = fileManager.module == "1" %}
{% set showTree = app.user and app.user.hasPermission('mediaTree') %}
{% set canUpload = not isModal and app.user and app.user.hasPermission('mediaUpload') %}
{% set canEdit = not isModal and app.user and app.user.hasPermission('mediaEdit') %}
{% set canCreateFolders = not isModal and app.user and app.user.hasPermission('mediaFolders') %}
{% set isRoot = not fileManager.parent or app.request.get('route') == '\\' %}

<div class="card">
	<div class="card-status-top bg-primary"></div>
	<table class="table table-vcenter table-mobile-md card-table">
		<thead>
			<tr>
				{% if canEdit %}
					<th class="w-1">
						{% block select_all %}
							<input type="checkbox" id="select-all" class="form-check-input" title="{{ 'select-all'|trans }}">
						{% endblock %}
					</th>
				{% endif %}
				<th class="w-1"></th>
				<th>
					{{ order(fileManager, 'name') }}
				</th>
				<th>
					{{ order(fileManager, 'date') }}
				</th>
				<th>
					{{ order(fileManager, 'size') }}
				</th>
				<th>
					{{ order(fileManager, 'dimension') }}
				</th>
				<th class="w-1"></th>
			</tr>
		</thead>
		<tbody>
			{% for fileEntity in fileArray %}
				{% set file = fileEntity.file %}
				{% set fileSelectionable = 'class="select"' in fileEntity.attribut %}
				<tr class="file-wrapper {{ fileEntity.isImage() ? 'img' : file.type }}">
					{% if canEdit %}
						<td>
							{% block file_checkbox %}
								<input type="checkbox" class="checkbox form-check-input" name="delete[]" value="{{ file.fileName }}" title="{{ file.fileName }}">
							{% endblock %}
						</td>
					{% endif %}
					<td class="w-1 text-center">
						{% block file_preview %}
							{% set preview = fileEntity.isImage() and fileEntity.preview ? fileEntity.preview.html : null %}
							{% if preview %}
								{{ preview|raw }}
							{% else %}
								{% set icon = fileEntity.preview.folder is defined ? 'folder' : 'file' %}
								<span class="avatar bg-transparent {% if fileEntity.preview.folder is defined %}shadow-none{% endif %}">
									<twig:ux:icon class="icon" name="tabler:{{ icon }}"/>
									{% if not fileEntity.preview.folder is defined %}
										<a href="{{ fileEntity.preview.path }}" target="_blank" class="stretched-link" style="cursor: zoom-in;"></a>
									{% endif %}
								</span>
							{% endif %}
						{% endblock %}
					</td>
					<td data-value="{{ file.fileName }}">
						{% if fileSelectionable %}
							<input type="radio" class="form-check-input me-2 select" {{ fileEntity.attribut|replace({'class="select"': ''})|raw }}>
						{% endif %}
						{% block file_name %}
							{{ (fileEntity.preview.folder is defined ? fileEntity.preview.folder|raw : file.fileName) }}
						{% endblock %}
					</td>
					<td class="hidden-xs">
						{% block file_date %}
							{{ file.mTime|date('d/m/Y') }}
						{% endblock %}
					</td>
					<td class="hidden-xs">
						{% block file_size %}
							{{ fileEntity.HTMLSize }}
						{% endblock %}
					</td>
					<td class="hidden-xs">
						{% block file_dimension %}
							{{ fileEntity.HTMLDimension }}
						{% endblock %}
					</td>
					<td class="w-1">
						{% block file_action %}
							{% if file.type == "file" or canEdit %}
								<div class="dropdown dropdown-actions position-static">
									<a class="link-secondary text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<twig:ux:icon class="icon" name="tabler:dots"/>
									</a>
									<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										{% if file.type == "file" %}
											<a class="dropdown-item" href="{{ path('file_manager_file', fileManager.queryParameters|merge({'fileName':file.fileName})) }}" download>
												<twig:ux:icon class="icon action-icon" name="tabler:download"/>
												{{ 'title.download'|trans }}
											</a>
											{% if fileEntity.isImage() %}
												<a class="dropdown-item" href="{{ fileEntity.preview.path }}" data-action="zoom">
													<twig:ux:icon class="icon action-icon" name="tabler:eye"/>
													{{ 'title.preview.file'|trans }}
												</a>
											{% endif %}
										{% endif %}
										{% if canEdit %}
											<a class="dropdown-item js-rename-modal" href="#" data-trigger="click" data-container="body" data-bs-toggle="modal" data-bs-target="#js-confirm-rename" data-placement="left" data-html="true" data-name='{{ file.basename('.'~file.extension) }}' data-extension='{{ file.extension }}' data-href='{{ path('file_manager_rename', fileManager.queryParameters|merge({'fileName':file.fileName})) }}'>
												<twig:ux:icon class="icon action-icon" name="tabler:edit"/>
												{{ 'title.rename.file'|trans }}
											</a>
											<a class="dropdown-item text-danger js-delete-modal" href="#" data-trigger="click" data-container="body" data-bs-toggle="modal" data-bs-target="#js-confirm-delete" data-placement="left" data-html="true" data-href='{{ path('file_manager_delete', fileManager.queryParameters|merge({'delete[]':file.fileName})) }}'>
												<twig:ux:icon class="icon action-icon" name="tabler:trash"/>
												{{ 'title.delete'|trans }}
											</a>
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% endblock %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
