{% block delete_modal %}
    <div class="modal modal-blur fade" id="js-confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-status bg-danger"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans({}, 'EasyAdminBundle') }}"></button>
                <div class="modal-body text-center py-4">
                    <twig:ux:icon class="icon icon-lg text-danger" name="tabler:alert-triangle" />
                    <h3 class="mt-3">{{ 'confirm.delete'|trans }}</h3>
                    <div class="text-muted">{{ 'batch_action_modal.content'|trans(domain: 'EasyAdminBundle') }}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                        <twig:ux:icon class="icon" name="tabler:x" />
                        {{ 'action.cancel'|trans(domain: 'EasyAdminBundle') }}
                    </button>
                    {{ form_start(formDelete) }}
                    {{ form_widget(formDelete.DELETE) }}
                    {{ form_end(formDelete) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block rename_modal %}
    <div class="modal modal-blur fade" id="js-confirm-rename" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-status bg-primary"></div>
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'title.rename.file'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans({}, 'EasyAdminBundle') }}"></button>
                </div>
                {{ form_start(formRename) }}
                <div class="modal-body">
                    {{ form_row(formRename.name) }}
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                        <twig:ux:icon class="icon" name="tabler:x" />
                        {{ 'action.cancel'|trans(domain: 'EasyAdminBundle') }}
                    </button>
                    {{ form_widget(formRename.send) }}
                </div>
                {{ form_end(formRename) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block add_modal %}
    <div class="modal modal-blur fade" id="addFolder" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-status bg-primary"></div>
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'title.add.folder'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans({}, 'EasyAdminBundle') }}"></button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.name) }}
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                        <twig:ux:icon class="icon" name="tabler:x" />
                        {{ 'action.cancel'|trans(domain: 'EasyAdminBundle') }}
                    </button>
                    {{ form_widget(form.send) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block preview_modal %}{% endblock %}
